<!-- FOOTER -->
<hr class="divider-1" />
<footer class="footer-one">             
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 footer-widget">
                <a href="#" class="footer-logo"> <img src="assets/img/common/main-logo.png" alt="logo" title="Logo"> </a>
                <div class="text-widget">
                    <p>Logancee is a Premium PSD Template. Best choice for your online store. Let purchase it to enjoy now</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 footer-widget">
                <h2 class="widget-title"> information </h2>
                <ul>                                  
                    <li><a href="#" title=""> Careers</a></li>            
                    <li><a href="#" title="">Investor Relations</a></li>            
                    <li><a href="#" title="">Press Releases</a></li>            
                    <li><a href="#" title="">Shop with Points</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-widget">
                <h2 class="widget-title"> Customer Care </h2>
                <ul>                                  
                    <li><a href="#" title="">Returns</a></li>            
                    <li><a href="#" title="">Shipping Info</a></li>            
                    <li><a href="#" title="">Gift Cards</a></li>            
                    <li><a href="#" title=""> Size Guide</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-widget">
                <h2 class="widget-title"> Get in touch </h2>
                <div class="address">
                    <div class="ft-line"><i class="icon_house_alt">&nbsp;</i> <span class="ft-line-txt">123 New Design Str, ABC Building,              Melbourne, Australia. </span></div>
                    <div class="ft-line"><i class="icon_mobile">&nbsp;</i> <span class="ft-line-txt">(0044) 8647 1234 587</span></div>
                    <div class="ft-line"><i class="icon_mail_alt">&nbsp;</i> <span class="ft-line-txt">hello@yourdomain.com</span></div>
                </div>
            </div>
        </div>
        <hr class="divider-1" />
        <p class="copy-rights">
            © 2017 <a href="#"> <b> LOGANCEE </b> </a>. All Rights Reserved                        
        </p>
    </div>
</footer>
<!-- /FOOTER -->

<div id="to-top" class="to-top"> <i class="arrow_carrot-up"></i> </div>