<!-- HEADER -->
<header class="header-wrap header-one">
    <div class="container">
        <div class="top-bar row">
            <div class="col-md-3 col-sm-3">
                <ul class="list-inline top-nav">
                    <li>
                        <form action="#" class="language">
                            <div class="search-selectpicker selectpicker-wrapper">
                                <select class="selectpicker" data-width="100%" data-toggle="tooltip" >                                              
                                    <option data-content="<img src='assets/img/common/flags/1.png'></img>  <span> English </span>"> English </option>                                               
                                    <option data-content="<img src='assets/img/common/flags/2.png'></img>  <span> Germany </span>"> Germany </option>
                                    <option data-content="<img src='assets/img/common/flags/3.png'></img>  <span> Argentina </span>"> Argentina </option>                                               
                                    <option data-content="<img src='assets/img/common/flags/4.png'></img>  <span> Brazil </span>"> Brazil </option>                                               
                                    <option data-content="<img src='assets/img/common/flags/5.png'></img>  <span> Cameroon </span>"> Cameroon </option>                                               
                                    <option data-content="<img src='assets/img/common/flags/6.png'></img>  <span> Hungary </span>"> Hungary </option>                                               
                                </select>
                            </div>                                                   
                        </form>    
                    </li>
                    <li>
                        <form action="#" class="currency">
                            <div class="search-selectpicker selectpicker-wrapper">
                                <select class="selectpicker" data-width="100%" data-toggle="tooltip">
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>ARS</option>
                                    <option>BRL</option>
                                    <option>XAF</option>
                                    <option>HUF</option>
                                </select>
                            </div>                                                   
                        </form>  
                    </li>
                </ul>
            </div>    
            <div class="col-md-6 col-sm-6 text-center">
                <ul class="list-inline custom-link">
                    <li> <a href="#"> Compare </a> </li>
                    <li> <a href="#"> Wishlist </a> </li>
                    <li> <a routerLink="/login"> Log In </a> </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <ul class="list-inline social-link">
                    <li> <a class="social_facebook" href="#"></a> </li>
                    <li> <a class="social_twitter" href="#"></a> </li>
                    <li> <a class="social_pinterest" href="#"></a> </li>
                    <li> <a class="social_instagram" href="#"></a> </li>
                    <li> <a class="social_dribbble" href="#"></a> </li>
                </ul>
            </div>
        </div>
        <div class="middle-bar block-inline">
            <div class="row">                        
                <div class="col-md-4 col-sm-4">
                    <form class="search-form">
                        <input class="search" type="text" placeholder="Search..." />
                        <button class="icon-magnifier icons"></button>
                    </form>
                </div>    
                <div class="col-md-4 col-sm-4 text-center">
                    <a class="logo" href="#"><b><h2>TICKET APP</h2></b></a>                                
                </div>
                <div class="col-md-4 col-sm-4 clearfix ">
                    <span style="float:right;"><span class="nav-trigger open icon_menu"></span></span>
                    
                </div>
            </div>
        </div>

        <div class="menu-bar rel-div"> 
            <span class="nav-trigger close-icon icon_close"></span>
            <div id="primary-navigation">                                        
                <ul class="primary-navbar font-2">
                    <li><a href="#">HOME</a></li>
                    <li><a routerLink="/product">SHOP</a></li>
                    <li><a routerLink="/login">LOGIN</a></li>
                </ul>
            </div> 
        </div>  
    </div>
</header>