<!-- CONTENT AREA -->
<body id="shopping-cart" class="wide"> 
<article class="page-body">
  
                  <!--Breadcrumb Section Start-->
                  <section class="breadcrumb-bg-2">                
                      <div class="container">
                          <div class="site-breadcumb">                        
                              <h1 class="title-1">checkout</h1> 
                          </div>  
                      </div>
                  </section>
                  <!--Breadcrumb Section End-->
  
                  <section class="wrapper sec-space cart-checkout">                  
                      <div class="container">
                          <!-- Checkout Starts -->
                          <div class="panel-group chk-panel" id="accordion">
                              <div class="panel">
                                  <div class="chk-heading">                              
                                      <a class="section-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">01. checkout method</a>                              
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse in">
                                      <div class="chk-body block-inline">
                                          <div class="col-md-6">
                                              <form class="chk-form" >
                                                  <h2 class="title-2">check as a guest or register</h2>
                                                  <p>Register with us for future convenience:</p>
                                                  <div class="form-group block-inline">
                                                      <label class="radio-inline title-2"> <input type="radio" name="chk" value=""> <span> checkt as guest </span>  </label>
                                                      <label class="radio-inline title-2"> <input type="radio" name="chk" value=""> <span> register </span>  </label>                                           
                                                  </div>
                                                  <h2 class="title-2"> register and save time ! </h2>
                                                  <p>Register with us for future convenience:</p>
                                                  <ul>
                                                      <li> <span class="arrow_carrot-right"></span> Fast and easy check out </li>
                                                      <li> <span class="arrow_carrot-right"></span> Easy access to your order history and status </li>
                                                  </ul>
                                                  <div class="form-group block-inline text-right">
                                                      <button class="theme-btn btn submit-btn" type="submit"> <b> Continue </b> </button>
                                                  </div>
                                              </form>
                                          </div>
  
                                          <div class="col-md-6">
                                              <form class="registed-form">
                                                  <h2 class="title-2"> already registed ? </h2>
                                                  <p class="space-bottom-15"> Please log in below : </p>
                                                  <div class="form-group block-inline">
                                                      <label> Email Address <span class="red-color"> * </span> </label>
                                                      <input required="" type="text" title="" data-placement="bottom" data-toggle="tooltip" value="" name="cf_name" class="form-control name input-your-name">                                               
                                                  </div>
                                                  <div class="form-group block-inline">
                                                      <label> Password <span class="red-color"> * </span> </label>
                                                      <input required="" type="text" title="" data-placement="bottom" data-toggle="tooltip" value="" name="cf_name" class="form-control name input-your-name">                                               
                                                  </div>                                            
                                                  <label class="red-color">* Required Filelds</label>                                           
                                                  <div class="form-group block-inline text-right">
                                                      <b class="black-color fpw"> Forgot Your Password ? </b>
                                                      <button class="theme-btn btn submit-btn" type="submit"> <b> Log In </b> </button>
                                                  </div>
                                              </form>
                                          </div>                                    
                                      </div>
                                  </div>
                              </div>
                              <div class="panel">
                                  <div class="chk-heading">
                                      <a class="section-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">02. BILLING INFORMATION</a>                              
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse">
                                      <div class="chk-body block-inline">
                                          <p> BILLING INFORMATION HERE </p>
                                      </div>
                                  </div>
                              </div>                     
                              <div class="panel">
                                  <div class="chk-heading">
                                      <a class="section-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">03. SHIPPING INFORMATION</a>                              
                                  </div>
                                  <div id="collapseThree" class="panel-collapse collapse">
                                      <div class="chk-body block-inline">
                                          <p> SHIPPING INFORMATION HERE </p>
                                      </div>
                                  </div>
                              </div>  
                              <div class="panel">
                                  <div class="chk-heading">
                                      <a class="section-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">04. SHIPPING METHOD</a>                              
                                  </div>
                                  <div id="collapseFour" class="panel-collapse collapse">
                                      <div class="chk-body block-inline">
                                          <p> SHIPPING METHOD HERE </p>
                                      </div>
                                  </div>
                              </div>  
                              <div class="panel">
                                  <div class="chk-heading">
                                      <a class="section-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">05. PAYMENT INFORMATION</a>                              
                                  </div>
                                  <div id="collapseFive" class="panel-collapse collapse">
                                      <div class="chk-body block-inline">
                                          <p> PAYMENT INFORMATION HERE </p>
                                      </div>
                                  </div>
                              </div>  
                              <div class="panel">
                                  <div class="chk-heading">
                                      <a class="section-title" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">06. ORDER REVIEW</a>                              
                                  </div>
                                  <div id="collapseSix" class="panel-collapse collapse">
                                      <div class="chk-body block-inline">
                                          <p> ORDER REVIEW HERE </p>
                                      </div>
                                  </div>
                              </div>  
                          </div>
                          <!-- / Checkout Ends -->
  
                      </div>
  
                  </section>
  
              </article>
              <!-- / CONTENT AREA -->